In [18]:
import os
import psycopg2

In [20]:
import pandas as pd
import psycopg2

# 接続情報
connection_config = {
    'host': 'localhost',
    'port': '5432',
    'database': 'chapter5',
    'user': 'masaki',
    'password': '********'
}

# 接続
connection = psycopg2.connect(**connection_config)

# DataFrameでロード
rentals = pd.read_sql(sql="SELECT * FROM action_log;", con=connection, index_col='user_id' )

# 表示
rentals

          session    action category   products  amount                stamp
user_id
U001     989004ea  purchase    drama  D001,D002  2000.0  2016-11-03 18:10:00
U001     989004ea      view     None       None     NaN  2016-11-03 18:00:00
U001     989004ea  favorite    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea    review    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea  add_cart    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea  add_cart    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea  add_cart    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea  add_cart    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea  add_cart    drama       D001     NaN  2016-11-03 18:00:00
U001     989004ea  add_cart    drama       D002     NaN  2016-11-03 18:01:00
U001     989004ea  add_cart    drama  D001,D002     NaN  2016-11-03 18:02:00
U001     989004ea  purchase    drama  D001,D002  2000.0  2016-11-03 18:10:00
U002     47db0370  add_cart    drama       D001     NaN  2016-11-03 19:00:00
U002     47db0370  purchase    drama       D001  1000.0  2016-11-03 20:00:00
U002     47db0370  add_cart    drama       D002     NaN  2016-11-03 20:30:00
U001     87b5725f  add_cart   action       A004     NaN  2016-11-04 12:00:00
U001     87b5725f  add_cart   action       A005     NaN  2016-11-04 12:00:00
U001     87b5725f  add_cart   action       A006     NaN  2016-11-04 12:00:00
U002     9afaf87c  purchase    drama       D002  1000.0  2016-11-04 13:00:00
U001     9afaf87c  purchase   action  A005,A006  1000.0  2016-11-04 15:00:00